<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/default.css" />
    {% if page.mathjax %}
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    {% endif %}
    {% if page.style %}
     <style type="text/css">
         {{ page.style }}
     </style>
    {% endif %}
    {% include ga.html %}
  </head>
  <body>
    <div class="top"><a href="/">Cheng Sun</a></div>

    <div class="content">
      {{ content }}
    </div>

    <div class="footer">
      <p class="floatl"><a href="/">Back to home</a></p>
      <p class="floatr">Find me on <a href="https://github.com/chengsun">GitHub</a></p>
    </div>
    {% include sc.html %}
  </body>
</html>

